{{>header}}
<div class="card-body noBottomNoPadding">
    <div class="tab-content">

        <!-- "Unidad 1" tab content -->
        <div class="tab-pane active" id="unidad1">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                <li class="nav-item active"><a class="nav-link tab2"
                                               href="contents">Fichas</a></li>
                <li class="nav-item"><a class="nav-link tab2"
                                        href="itinerary/{{id}}">Itinerarios</a></li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="fichas" aria-expanded="true">

                </div>

            </div>
        </div>
    </div>
</div>
{{#units}}
{{#contentsPage}}
<div class="card" style="width:75rem">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <p>{{desc}}</p>
        {{#admin}}
        <a href="/units/{{units.id}}/contents/edit/{{id}}/"> Editar ficha </a>
        {{/admin}}
		{{#hasImage}}
        <img src="/images/{{id}}"/>
		{{/hasImage}}
    </div>
</div>
{{/contentsPage}}
{{#admin}}

{{>contentsList}}
<input type="button" class="btn btn-default" onclick="location.href='/units/{{units.id}}/contents/newContent/';"
       value="Ficha nueva"/>

{{/admin}}
<input id="loadMore" type="button" class="btn btn-default custom" onclick="loadMore(this, {{units.id}})" value="Cargar más"/>{{/units}}