{{>header}}
<div class="card-body noBottomNoPadding">
    <div class="tab-content">

        <!-- "Unidad 1" tab content -->
        <div class="tab-pane active" id="unidad1">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                <li class="nav-item active"><a class="nav-link tab2"
                                               href="contents">Fichas</a></li>
                <li class="nav-item"><a class="nav-link tab2"
                                        href="itinerary">Itinerarios</a></li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="fichas" aria-expanded="true">

                </div>

            </div>
        </div>
    </div>
</div>
{{#units}}
{{#contents}}
<div class="card" style="width:75rem">
	<div class="card-header">{{title}}</div>
	<div class="card-body">
		<p>{{desc}}</p>
		<a href="/contents/editContent/{{id}}"> Editar ficha </a>
		{{#image}}
		<img src="/images/{{id}}"/>
		{{/image}}
	</div>
</div>
{{/contents}}
{{/units}}