{{#units}}
{{#contentsPage}}
<div class="card" style="width:75rem">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <p>{{desc}}</p>
        {{#admin}}
        <a href="/units/{{units.id}}/contents/edit/{{id}}/"> Editar ficha </a>
        {{/admin}}
        {{#image}}
        <img src="/images/{{id}}"/>
        {{/image}}
    </div>
</div>
{{/contentsPage}}
<input id="loadMore" type="button" class="btn btn-default custom" onclick="loadMore(this, {{units.id}})" value="Cargar más"/>
{{/units}}