<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Books</span>

        </div>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-nav-list *ngIf="loginService.isLogged">
        <a *ngFor='let book of books' mat-list-item [routerLink]="['/book', book.id]">
            {{book.title}}
        </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="!loginService.isLogged">
        <mat-list-item [ngStyle]="{'cursor':'auto'}" *ngFor='let book of books'>
            {{book.title}}
        </mat-list-item>
    </mat-nav-list>

    <button mat-fab  *ngIf="loginService.isLogged"  (click)="newBook()">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>