<!--<form *ngIf="!loginService.isLogged" class="navbar-form navbar-right form-inline" role="search">

	<div class="form-group">
		<input #user type="text" class="form-control" name="username" placeholder="Username">
	</div>

	<div class="form-group">
		<input #pass type="password" class="form-control" name="password" placeholder="Password">
	</div>

	<button type="submit" (click)="logIn($event, user.value, pass.value)" class="btn btn-default">Sign In</button>

</form>

<div *ngIf="loginService.isLogged" class="nav navbar-nav navbar-right">

	<ul class="nav navbar-nav">
		<li>
			<a href="#">{{loginService.user.name}}</a>
		</li>
		<li>
			<button class="btn btn-default navbar-btn" (click)="logOut()" type="button">Log Out</button>
		</li>
	</ul>

</div>-->

<ng-container *ngIf="!loginService.isLogged">
	<span>
		<button mat-button (click)='openLoginDialog()'>
			Login
		</button>
	</span>
</ng-container>

<ng-container *ngIf="loginService.isLogged">
	<span>
		{{loginService.user.name}}
	</span>
	<span>
		<button mat-button (click)='logOut()'>
			Logout
		</button>
	</span>
</ng-container>


<ng-template #loginDialog let-dialogRef="dialogRef">

	<div layout="column" layout-fill>
		<h2 mat-dialog-title>
			Login
		</h2>
		<mat-dialog-content flex>
			<form #loginForm="ngForm">
				<div layout="row">
					<mat-form-field flex>
						<input matInput #userElement #userControl="ngModel" placeholder="Username" type="text"
							maxlength="30" name="username" [(ngModel)]="username" required>
						<span matPrefix>
							<mat-icon>person</mat-icon>
						</span>
						<mat-hint align="start">
							<span [hidden]="!userControl.errors?.required || userControl.pristine"
								class="tc-red-600">Required</span>
						</mat-hint>
						<mat-hint align="end">{{userElement.value.length}} / 30</mat-hint>
					</mat-form-field>
				</div>
				<div layout="row">
					<mat-form-field flex>
						<input matInput #passElement #passControl="ngModel" placeholder="Password" type="password"
							name="password" [(ngModel)]="password" required>
						<span matPrefix>
							<mat-icon>lock</mat-icon>
						</span>
						<mat-hint align="start">
							<span [hidden]="!passControl.errors?.required || passControl.pristine"
								class="tc-red-600">Required</span>
						</mat-hint>
						<mat-hint align="end">Something hard to guess</mat-hint>
					</mat-form-field>
				</div>
			</form>
		</mat-dialog-content>
		<mat-divider></mat-divider>
		<mat-dialog-actions align="end">
			<button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Close</button>
			<button type="button" mat-button color="accent" class="text-upper" (click)="logIn($event, userElement.value, passElement.value)">Login</button>
		</mat-dialog-actions>
	</div>

</ng-template>