#tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1587c9;
    margin: -8px;
    margin-left: 0.1em;
    margin-bottom: 0.5em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.tab {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.tab:hover{
    background-color: rgb(18, 120, 179);
}