<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Vista</span>
        </div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <div class="margins viewSection">
        <div class="selectBoxesPosition">
            <mat-form-field>
                <mat-label>Unidad</mat-label>
                <select matNativeControl>
                    <option value="unit.name">{{unit.name}}</option>
                </select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ficha</mat-label>
                <select matNativeControl>
                    <option *ngFor='let content of contents' value="content.title">
                        {{content.title}}
                    </option>
                </select>
            </mat-form-field>
        </div>

        <!-- html view -->
        <div class="htmlView">
            <fieldset class="htmlViewContent">
                <legend id="htmlLabel">HTML</legend>
                <h3 id="unithtmltitle">Unidad (ID {{unit.id}})</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;<b>Nombre</b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{unit.name}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<b>Contenidos</b>
                <div *ngFor='let content of contents'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{content.title}}
                </div>
            </fieldset>
        </div>
    </div>

    <!--
        "Itinerario" section
    -->
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Itinerario</span>
        </div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <div class="margins itinerarySection">
        <div>
            <mat-form-field>
                <mat-label>Unidad</mat-label>
                <select matNativeControl>
                    <option value="unit.name">{{unit.name}}</option>
                </select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Itinerario</mat-label>
                <select matNativeControl>
                    <option *ngFor='let itinerary of itineraries' value="itinerary.name">
                        {{itinerary.name}}
                    </option>
                </select>
            </mat-form-field>
        </div>

        <div class="rightPosition">
            <mat-radio-group>
                <mat-radio-button value="radioView" checked>Vista</mat-radio-button>
                <mat-radio-button value="radioItinerary">Itinerario</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</mat-card>