<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Contenidos</span>

        </div>
        <mat-divider></mat-divider>
    </mat-card-title>

        <a *ngFor='let content of contents' mat-list-item  >
            <mat-card-title style="font-weight: bold">{{content.title}}</mat-card-title>
            <mat-card-content><p style="font-size: 1.2em">{{content.desc}}</p></mat-card-content>
            <a *ngIf="content.hasImage">
                <img src="data:image/JPEG;base64,{{content.imageRaw}}">
            </a>
            <div style="margin: 1em" >
            <button mat-raised-button color="warn" (click)="editContent(content.id)" style="margin-bottom: 5px">KATS</button>
            </div>
        </a>
</mat-card>
