<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Vista</span>
        </div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <div class="margins viewSection">
        <div class="selectBoxesPosition">
            <mat-form-field>
                <select matNativeControl>
                    <option value="unit.name">{{unit.name}}</option>
                </select>
            </mat-form-field>

            <mat-form-field>
                <select matNativeControl>
                    <option value="viewFicha">ficha</option>
                </select>
            </mat-form-field>
        </div>

        <!-- html view -->
        <div class="htmlView">
            <fieldset class="htmlViewContent">
                <legend>HTML</legend>
                <p>What the hell?</p>
                <p>What the hell?</p>
                <p>What the hell?</p>
                <p>What the hell?</p>
                <p>What the hell?</p>
                <p>What the hell?</p>
            </fieldset>
        </div>
    </div>

    <mat-divider></mat-divider>

    <!--
        "Itinerario" section
    -->
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Itinerario</span>
        </div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <div class="margins itinerarySection">
        <div>
            <mat-form-field>
                <select matNativeControl>
                    <option value="unit.name">{{unit.name}}</option>
                </select>
            </mat-form-field>

            <mat-form-field>
                <select matNativeControl>
                    <option *ngFor='let itinerary of itineraries' value="itinerary.name">
                        {{itinerary.name}}
                    </option>
                </select>
            </mat-form-field>
        </div>

        <div class="rightPosition">
            <mat-radio-group>
                <mat-radio-button value="radioView" checked>Vista</mat-radio-button>
                <mat-radio-button value="radioItinerary">Itinerario</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</mat-card>