<mat-card>
    <mat-card-title class="bigTitle">
        <div layout="row" layout-align="start center">
            <span flex>Contenidos</span>

        </div>
        <mat-divider></mat-divider>
    </mat-card-title>

    <a *ngFor='let content of contents' mat-list-item style="width: 45%">
        <mat-card style="text-align: center">
            <mat-card-title style="font-weight: bold">{{content.title}}</mat-card-title>
            <mat-card-content><p style="font-size: 1.2em">{{content.desc}}</p></mat-card-content>
            <a *ngIf="content.hasImage">
                <img src="data:image/JPEG;base64,{{content.imageRaw}}" id="contentImg">
            </a>
            <div style="margin: 1em">
                <button mat-raised-button color="warn" (click)="editContent(content.id)" style="margin: 10px">
                    Editar contenido
                </button>
            </div>
        </mat-card>
    </a>
    <div style="text-align: center">
        <button mat-fab *ngIf="loginService.isAdmin" (click)="addContent()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-card>
