<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Contents</span>

        </div>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-nav-list *ngIf="loginService.isLogged">
        <a *ngFor='let content of contents' mat-list-item [routerLink]="['/contents', content.id]">
            {{content.title}}
        </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="!loginService.isLogged">
        <mat-list-item [ngStyle]="{'cursor':'auto'}" *ngFor='let content of contents'>
            {{content.title}}
        </mat-list-item>
    </mat-nav-list>

    <button mat-fab  *ngIf="loginService.isLogged"  (click)="newContent()">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>