<div *ngIf="content">
    <div style="float: left; width: 50%">
        <div class="example-form" class="text-form">
            <h2> Editar contenido "{{content.title}}"</h2>

            <mat-form-field>
                <input [(ngModel)]="content.title" matInput placeholder="Título" value="{{content.title}}">
            </mat-form-field>

            <mat-form-field class="example-full-width">
            <textarea maxlength="255" [(ngModel)]="content.desc" matInput
                      placeholder="Descripción (255 caracteres máx.)" value="{{content.desc}}"
                      style="height: 3em"></textarea>
            </mat-form-field>

            <input class="hidan" type="file" #file accept=".png, .jpg"
                   (change)="onfFileSelected($event);saveImage()"/>

            <input class="hidan" #imageChanger mat-raised-button color="warn" (click)="file.click()"/>

        </div>
        <button mat-raised-button color="warn" (click)="saveContent()">Guardar contenido</button>
        <button mat-raised-button color="warn" (click)="removeContent()" style="margin: 10px">
            Borrar este contenido
        </button>
        <div *ngIf="!content.hasImage">
            <button mat-raised-button color="warn" (click)="imageChanger.click()" style="margin-top: 1em">Añadir imagen</button>
        </div>
    </div>


    <div *ngIf="content.hasImage" style="float: right; margin-right: 12.5%; margin-top: 2%">
        <img id="imgPreview" (click)="imageChanger.click()" src="data:image/JPEG;base64,{{content.imageRaw}}"
            >
        <p #texto>Haz click en la imagen para editarla</p>
    </div>
</div>
